{% for message in app.flashes('success') %}
    <div class="alert alert-success text-center mb-0">
        {{ message }}
    </div>
{% endfor %}

{% for message in app.flashes('danger') %}
    <div class="alert alert-danger text-center mb-0">
        {{ message }}
    </div>
{% endfor %}
