{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title'|trans({}, 'booking')}}
{% endblock %}

{% block body %}
    <h2 class="text-center bg-light p-2 mb-3">
        {{ 'heading'|trans({}, 'booking')}}
        <img id="logo" src="{{ asset('icons/booking.png') }}" alt="logo">
    </h2>
    {{ include('booking/_form.html.twig') }}
{% endblock %}
