<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://kit.fontawesome.com/4bb6aa68af.js" crossorigin="anonymous"></script>

    <link rel="icon" href="{{ asset('icons/logo.png') }}">

    <link rel="stylesheet" href="{{ asset('css/base.css') }}">

    <title>
        {% block title %}{% endblock %}
    </title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>

{% include 'navigation/nav.html.twig' %}

{% include 'flash_messages/flash_messages.html.twig' %}

<body>
    {% block body %}{% endblock %}
</body>

{% include 'footer/footer.html.twig' %}
</html>
